.input-wrapper {
    .input {
        padding: .5rem;
        border-radius: .5rem;
        outline: none;
        // min-width: 187px;
        // border: none;

        &.primary {
            border: 1px solid var(--border-color);
        }
    }

    .error-message { color: red; }
}